<!DOCTYPE html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="enc0d1n9@gmail.com" />
   <link href="http://enc0d1n9.github.com/Blog/" rel="alternate" title="enc0d1n9@gmail.com" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="http://enc0d1n9.github.com/Blog/">张桂东参与创业的记录</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        张桂东<br />
        Employee of <a href="http://www.moretv.com.cn/">moretv</a><br />
        enc0d1n9@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
      </p>
    </div>
    <!-- <div class="rss">
      <a href="http://feeds.feedburner.com/tom-preston-werner">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>   -->
  </div>
</div>


<!-- ClickTale Bottom part -->

<!-- ClickTale end of Bottom part -->

<!-- Google Analytics -->

<!-- Google Analytics end -->

</body>
</html>
